/* src/components/Simulation.css */
.simulation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

canvas {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}
